# 富途 API 環境變量
# ========================

# 富途牛牛用戶 ID (email/手機號/用戶ID)
FUTU_LOGIN_ACCOUNT=

# 富途登入密碼既 MD5 (32位小寫)
FUTU_LOGIN_PWD_MD5=

# OpenD 連線
FUTU_HOST=host.docker.internal
FUTU_PORT=11111
FUTU_WS_PORT=8081

# Python Backend API
PYTHON_API_URL=http://localhost:8000
FUTU_TRADE_PWD=
