[Unit]
Description=VCP Calculator frontend
After=network-online.target vcp-backend.service
StartLimitIntervalSec=0
[Service]
LogNamespace=vcp
Type=simple
WorkingDirectory=/opt/vcp-calculator
ExecStart=/bin/bash /opt/vcp-calculator/run-frontend.sh
Restart=always
RestartSec=5
TimeoutStopSec=30
MemoryMax=768M
[Install]
WantedBy=multi-user.target
